#header{
    background:skyblue;
    text-align:center;
    font-family:cursive;
    text-shadow: 4px 4px 4px #aaa;
}
#label{
    font-weight: bolder;
    font-size: x-large;
    font-style: italic;
}
#ul{
    display:table;
    color: cornsilk;
    background-color: blueviolet;
}
p {
    font-size:large;
    font-family:cursive;
}
.input{
    color: red;
}